[*.cs]
dotnet_diagnostic.IDE0011.severity = none
dotnet_diagnostic.IDE0017.severity = none
dotnet_diagnostic.IDE0044.severity = none
dotnet_diagnostic.IDE0054.severity = none
dotnet_diagnostic.IDE0059.severity = none
dotnet_diagnostic.IDE0060.severity = none
dotnet_diagnostic.IDE0066.severity = none
dotnet_diagnostic.IDE0251.severity = none
dotnet_diagnostic.IDE0090.severity = none
dotnet_diagnostic.CA1050.severity = none